body{
    background-image: url(faint\ blue.jpg);
}
h3{
    color: darkorange;
    font-family: Georgia;
    font-size: 200%;
    text-align: justify;
    text-indent: 100px;
    word-spacing: 100px;
    
    

}
img{
    width: auto;
    min-height: auto;
}
.icon{
    width: 35px;
    height: 35px;
    float: right; 
    
    
    }
    .container{
    display: flex;
    
    }
    #button{
        padding: 5px;
        border-radius: 5px;
        background-color: orangered;
        color: aliceblue;
    }
    #try{
    padding: 10px;
    background-color: aliceblue;
    color:orangered;
    border:none;
    }
    
    #text{
        display: grid;
    }
    #image{margin-left: 30%;
        
        margin-bottom: 60%;
    
    }
    #body{
        border: 1px solid;
        
        padding: 20px;
       
    }
    
    #container{
        display: flex;
        padding: 30px;
        gap: 12px;
        text-align: center;
        position: fixed;
    
    }
    
    
    .picture{
            zoom: 10%;
    
        
    
    }
    
    



