body{
    background-image: url(faint\ blue.jpg);
}
h3{
    color: darkorange;
    font-family: Georgia;
    font-size: 200%;
    text-align: justify;
    text-indent: 100px;
    word-spacing: 100px;
    
    

}
img{
    width: auto;
    min-height: auto;
}

    



